<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firesafetysci.FireSci">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireSci"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".AccountRegistration.AccountRegistrationDidntGetEmailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.ChangeYourPasswordInstallerActivity"
            android:parentActivityName=".Installer.AccountActivityInstaller"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.AccountActivityInstaller"
            android:parentActivityName=".Installer.HomePageInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.EditLocationInstallerActivity"
            android:parentActivityName=".Installer.SystemsInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.LocationsInstallerActivity"
            android:parentActivityName=".Installer.HomePageInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.HomePageInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.EditSystemInstallerActivity"
            android:parentActivityName=".Installer.SystemsInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.AddNewSystemInstallerActivity"
            android:parentActivityName=".Installer.AddSystemSelDeviceTypeInsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.AddSystemSelDeviceTypeInsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.AddSystemSerNoInstallerActivity"
            android:parentActivityName=".Installer.SystemsInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.SystemsInstallerActivity"
            android:parentActivityName=".Installer.LocationsInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Installer.AddNewLocationInstallerActivity"
            android:parentActivityName=".Installer.HomePageInstallerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationTwoStepVerificationActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationEmailVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationAccountCreatedActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationEmailAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationPhoneNumberActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationCreatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationEmailAddressActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationCreatePasswordActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationCompanyDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationCompanyDetailsActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationChooseCountryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationChooseCountryActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationInstallerOrCustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.NewPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationEmailVerificationActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationAccountCreatedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationInstallerOrCustomerActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.AccountRegistrationNameActivity"
            android:parentActivityName=".AccountRegistration.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.RegisterActivity"
            android:parentActivityName=".AccountRegistration.RegisterOrSignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.ForgotPasswordActivity"
            android:parentActivityName=".Main.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main.SignInActivity"
            android:parentActivityName=".AccountRegistration.AccountRegistrationTwoStepVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AccountRegistration.RegisterOrSignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Main.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityThemeNoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>